# Introduction

Pokémon Scarlet and Pokémon Violet will be the first open-world RPG in the Pokémon series focused on the ninth generation of games with a release date of 2022. 

The overall goal here is to note any potential correlations between base stats and select pokemon accordingly. I'm hoping to find some well-balanced types rather than one-note wonders.

I will try to found the best team, according of adventure or competitive game.

I hope what this analysis help you if you want to play this game.

![](./img/logo.jpg)

# Import Libraries and Loading Data

In [9]:
import pandas as pd
import numpy as np
import plotly.express as px

pokemons = pd.read_csv('gen9_data.csv')

In [11]:
pokemons.head()

   Unnamed: 0              Pokémon    H    A    B    C    D    S  Total
0           0             Koraidon  100  135  115   85  100  135    670
1           1             Miraidon  100   85  100  135  115  135    670
2           2              Slaking  150  160  100   95   65  100    670
3           3  Palafin (Hero Form)  100  160   97  106   87  100    650
4           4             Garchomp  108  130   95   80   85  102    600

# Cleansing Data

In [12]:
pokemons = pokemons.drop('Unnamed: 0',axis=1)

In [13]:
pokemons.columns

Index(['Pokémon', 'H', 'A', 'B', 'C', 'D', 'S', 'Total'], dtype='object')

In [14]:
column_map = {
    'H':'HP',
    'A':'Attack',
    'B':'Defense',
    'C':'Special_Attack',
    'D':'Special_Defense',
    'S': 'Speed'
}
pokemons = pokemons.rename(columns=column_map)
pokemons.head()

,Pokémon,HP,Attack,Defense,Special_Attack,Special_Defense,Speed,Total
0,Koraidon,100,135,115,85,100,135,670
1,Miraidon,100,85,100,135,115,135,670
2,Slaking,150,160,100,95,65,100,670
3,Palafin (Hero Form),100,160,97,106,87,100,650
4,Garchomp,108,130,95,80,85,102,600

# Exploration

In [15]:
pokemons.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 431 entries, 0 to 430
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Pokémon          431 non-null    object
 1   HP               431 non-null    int64
 2   Attack           431 non-null    int64
 3   Defense          431 non-null    int64
 4   Special_Attack   431 non-null    int64
 5   Special_Defense  431 non-null    int64
 6   Speed            431 non-null    int64
 7   Total            431 non-null    int64
dtypes: int64(7), object(1)
memory usage: 27.1+ KB

In [16]:
pokemons.describe()

,HP,Attack,Defense,Special_Attack,Special_Defense,Speed,Total
count,431.000000,431.000000,431.000000,431.000000,431.000000,431.000000,431.000000
mean,70.364269,76.269142,67.907193,67.897912,67.111369,67.248260,416.368910
std,27.936964,29.587347,26.313331,28.245910,24.744586,28.263315,107.564479
min,10.000000,5.000000,5.000000,10.000000,20.000000,10.000000,180.000000
25%,50.000000,55.000000,50.000000,45.000000,50.000000,45.000000,315.000000
50%,68.000000,70.000000,65.000000,61.000000,65.000000,65.000000,450.000000
75%,84.000000,100.000000,80.000000,90.000000,81.000000,86.000000,500.000000
max,255.000000,160.000000,184.000000,140.000000,154.000000,150.000000,670.000000